include CHANGELOG
include LICENSE
include README.md
include MANIFEST.in
include .pre-commit-config.yaml
include whitelist.py

exclude coverage.xml
exclude tox.ini
exclude .readthedocs.yaml

recursive-include qtile_extras *.py

graft qtile_extras/resources
graft test

prune docs
prune scripts

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude stubs *
