name: ci

on:
    push:
      branches:
        - main
    pull_request:

jobs:
    build:
        runs-on: ubuntu-22.04
        name: "python ${{ matrix.python-version }}"
        strategy:
            matrix:
                python-version: [3.9, '3.10', '3.11']
        steps:
            - uses: actions/checkout@v2
            - name: Set up python ${{ matrix.python-version }}
              uses: actions/setup-python@v2
              with:
                  python-version: ${{ matrix.python-version }}
            - name: Install dependencies
              run: |
                sudo apt update
                sudo apt install --no-install-recommends \
                  imagemagick libpulse-dev git xserver-xephyr xterm xvfb dbus-x11 libnotify-bin \
                  libxcb-composite0-dev libxcb-icccm4-dev libxcb-res0-dev libxcb-render0-dev libxcb-res0-dev \
                  libxcb-xfixes0-dev libiw-dev
                sudo pip -q install meson PyGObject
                pip -q install "tox<4" tox-gh-actions
            - name: Build wayland
              run:  bash -x ./scripts/ubuntu_wayland_setup
            - name: run tests
              run: |
                tox
            - name: Push coverage to Coveralls
              run: |
                pip -q install coveralls
                coveralls --service=github
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
                COVERALLS_PARALLEL: true

    coverage:
        name: Finalize Coverage
        needs: build
        runs-on: ubuntu-22.04
        steps:
            - name: Coveralls Finished
              uses: coverallsapp/github-action@master
              with:
                github-token: ${{ secrets.GITHUB_TOKEN }}
                parallel-finished: true
